@media (max-width: 1600px) {
    /* 공통 영역 */
    html,body {
      height: auto;
    }
    .row {
      flex-wrap: wrap;
      width: 100%;
    }
    .col-2 {
      width: calc(100% / 12 * 4 - 30px);
      height: 930px;
    }
    .col-4 {
      width: calc(100%);
      margin-top: 60px;
      margin-bottom: 40px;
    }
    .col-6 {
      width: calc(100% / 12 * 8);
      height: 930px;
      margin-right: 0 !important;
    }

    /* 메인 컨텐츠 */

    /* Today 안전사고 */
    .construction_site .day_stats {
        height: auto;
    }
    .construction_site .d_stats_header {
        height: auto;
    }
    .construction_site .d_stats_title {
        padding: 15px 0;
    }
    .construction_site .d_stats_title h3 {
        font-size: 22px;
    }.construction_site .d_stats_title span {
        font-size: 13px;
        padding: 5px 10px;
    }
    .construction_site .d_stats_lists {
        height: auto;
        padding: 20px;
    }
    .construction_site .d_stats_lists li {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .construction_site .d_stats_lists strong {
        font-size: 38px;
    }
    .construction_site .d_stats_lists span {
        font-size: 16px;
    }
    .construction_site .d_stats_lists p {
        font-size: 13px;
    }

    /* 건축물 착공 현황 & 안전사고 피해현황 공통 */
    .construction_site .content_title {
        font-size: 20px;
    }
    .construction_site table th,
    .construction_site table td {
        font-size: 13px;
    }

    /* 건축물 착공 현황 */
    .construction_site .start_status_chart {
        height: 210px;
    }

    /* 안전사고 피해현황 */
    .construction_site .damage_status_chart {
        height: 306px;
    }
    .construction_site .damage_status_chart .chart_icon {
        width: 9px;
        height: 9px;
    }

    /* 지도 영역 */
    .construction_site .map_wrap {
        display: block;
        position: relative;
        width: 100%;
    }

    /* 지도 옵션 */
    .construction_site .map_option {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 8;
    }
    .construction_site .map_option li {
        font-size: 18px;
    }
    .construction_site .map_option li .checking {
        width: 19px;
        height: 19px;
    }
    
    /* 지도 보기 */
    .construction_site .map_view {
        height: 100%;
    }
    .construction_site .map_view .all_area {
        top: 100px;
        left: 20px;
        width: 120px;
        height: 38px;
        font-size: 16px;
    }
    .construction_site .map_view .all_area img {
        width: 20px;
        vertical-align: middle;
    }
    .construction_site .map_view .zoom_btn {
        top: 100px;
        right: 20px;
        width: 40px;
    }
    .construction_site .map_view .zoom_btn button {
        height: 40px;
        background-size: 13px;
    }
    .construction_site .map_view .total {
        bottom: 0;
        width: 120px;
        height: 84px;
    }
    .construction_site .map_view .total p {
        font-size: 16px;
    }
    .construction_site .map_view .total span {
        font-size: 34px;
    }
    
    /* 공공기관 링크 PC 버전 (슬라이더) */
    .construction_site .institutions_pc {
        display: none;
    }

    /* 지역별 현황 */

    /* 날씨 정보 */
    .construction_site .area_info .weather_wrap {
        height: auto;
        padding-top: 14px;
        padding-bottom: 42px;
    }
    .construction_site .weather_wrap .area_name {
        width: 50% !important;  
    }
    .construction_site .weather_wrap .area_name h5 {
        font-size: 30px;
    }
    .construction_site .weather_wrap .area_name h5::before {
        width: 90px;
    }
    .construction_site .weather_wrap .weather {
        width: 50% !important;
    }
    .construction_site .weather_wrap .storm {
        font-size: 13px;
        padding: 5px 10px;
    }
    .construction_site .weather_wrap .storm img {
        width: 13px;
    }
    .construction_site .weather ul {
        height: 126px;
        padding: 15px 0;
    }
    .construction_site .weather_wrap p.day {
        font-size: 15px;
    }
    .construction_site .weather_wrap .weather li.today p.day {
        padding: 5px 12px;
    }
    .construction_site .weather_wrap .weather_main img {
        width: 27px;
    }
    .construction_site .weather_wrap .weather_main p.temperture {
        font-size: 15px;
    }
    .construction_site .weather_wrap .weather_main p.temperture strong {
        font-size: 30px;
    }
    .construction_site .weather p.rain {
        font-size: 14px;
    }
    .construction_site .weather .storm_alert {
        height: 126px;
    }
    
    /* 메인 탭 전환 */
    .construction_site .area_info .tab_main {
        height: auto;
    }
    .construction_site .area_info .tab_main > .tab_index {
        height: auto;
        font-size: 18px;
    }
    .construction_site .area_info .tab_main > .tab_content {
        flex-direction: row;
        padding: 50px 30px 30px;
    }
    .construction_site .area_info .tab_main > .tab_index li {
        width: 24.5%;
        padding: 15px 0;
    }
    .construction_site .area_info .tab_main > .tab_index li:not(:last-child) {
        margin-right: 0.6666%;
    }
    
    .construction_site .area_info .inspection {
        width: 50%;
    }
    .construction_site .area_info .inspection ul {
        align-items: center;
        height: 100%;
    }
    .construction_site .area_info .inspection .circle {
        min-width: 165px !important;
        height: 165px !important;
    }
    .construction_site .area_info .inspection .circle .text_wrap strong {
        font-size: 36px;
    }
    .construction_site .area_info .inspection .circle .text_wrap span {
        font-size: 18px;
    }
    .construction_site .area_info .inspection .circle .text_wrap p {
        font-size: 16px;
    }
    
    /* 안전사고 발생 현황 */
    .construction_site .area_info .safechk_occu {
        width: 50%;
        margin: 0 !important;
    }
    .construction_site .area_info .safechk_wrap {
        margin-top: 15px;
        padding: 40px 0;
    }

    /* 서브 탭 전환 */
    .construction_site .area_info .tab_sub > .tab_index li {
        font-size: 18px;
        padding: 15px 0;
    }
    .construction_site .tab_sub > .tab_content {
        padding-top: 20px;
    }
    .construction_site .area_info .safechk_circle {
        width: 146px;
        height: 146px;
    }
    .construction_site .area_info .safechk_circle .text_wrap strong {
        font-size: 30px;
    }
    .construction_site .area_info .safechk_circle .text_wrap p {
        font-size: 18px;
    }
    .construction_site .area_info .safechk_result {
        padding: 25px 22px;
    }
    .construction_site .area_info .safechk_result li:not(:last-child) {
        padding-bottom: 25px;
    }
    .construction_site .area_info .safechk_result span {
        font-size: 15px;
    }
    .construction_site .area_info .safechk_result span > sub {
        width: 7px;
        height: 7px;
        margin-right: 9px;
    }
    .construction_site .area_info .safechk_result p {
        font-size: 16px;
    }
    .construction_site .area_info .safechk_result strong {
        margin-right: 5px;
    }

    /* 공공기관 링크 모바일 버전 (슬라이더) */
    .construction_site .institutions_m {
        display: flex;
        margin: 0 30px;
        margin-bottom: 30px;
        padding: 20px 0;
    }
    .construction_site .institutions_m .slideBtn img {
        width: auto;
    }

    /* 서브페이지 */
    .sub_page .title_wrap::after {
        width: 84%;
    }

    /* 공사장 관리 */
    
    /* 추가 검색조건 */
    .const_mgt .search_add .check_wrap li:first-child li:nth-child(9) {
        margin-top: 15px;
    }
}

@media (max-width: 1440px) {
    /* 메인페이지 */
    .construction_site .area_info .inspection .insp_circle2 {
        margin: 0 0.6944vw;
    }
    
    /* 서브페이지 */
    .sub_page .title_wrap::after {
        width: 82%;
    }
    /* 공사장 관리 */

    /* 추가 검색조건 */
    .const_mgt .search_add .check_wrap li:first-child li:nth-child(8) {
        margin-top: 15px;
    }
}

@media (max-width: 1150px) {
    /* 지역별 현황 */

    /* 메인 탭 전환 */
    .construction_site .area_info .tab_main > .tab_content {
        flex-direction: column;
    }
    .construction_site .area_info .inspection {
        width: 100%;
    }


    /* 서브 탭 전환 */
    .construction_site .area_info .safechk_occu {
        width: 100%;
    }

}

@media (max-width: 1024px) {
    /* 공통 영역 */
    .container {
        margin-bottom: 150px;
    }
    .row {
        padding: 0;
    }
    .col-2, .col-4 {
        height: auto;
    }
    .col-2 {
        width: 100%;
        background: #e1e2e5;
    }
    .col-4 {
        width: 100%;
        margin-top: 100px;
        padding: 0 40px;
    }
    .col-6 {
        width: 100%;
        margin-left: 0 !important;
    }

    /* header.css */

    aside {
        display: none;
    }
    .header_pc {
        display: none;
    }
    
    /* 헤더 (테블릿 & 모바일) */
    .header_m {
        display: block;
    }
    .header_m .logo_wrap {
        height: 100px;
        font-size: 28px;
        padding-left: 28px;
    }
    .header_m nav {
    position: absolute;
    top: 0;
    right: 0;
    }
    .header_m .burger_btn {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(../images/icon/burger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    background-color: #20b5c8;
    }

    /* 메인 컨텐츠 */
    .construction_site .container {
        padding-top: 100px;
        padding-left: 0;
    }
    /* Today 안전사고 */
    .construction_site .day_stats_bg {
        margin-top: 10px;
        padding: 50px 40px;
        background: #e9eef9;
        border-bottom: 1px solid #8591aa;
    }
    .construction_site .d_stats_title h3 {
        font-size: 32px;
    }
    .construction_site .d_stats_title span {
        font-size: 16px;
        margin-top: 8px;
    }
    .construction_site .d_stats_lists {
        padding: 30px;
    }
    .construction_site .d_stats_lists li {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .construction_site .d_stats_lists strong {
        font-size: 54px;
    }
    .construction_site .d_stats_lists span {
        font-size: 20px;
    }
    .construction_site .d_stats_lists p {
        font-size: 18px;
        padding-top: 10px;
    }

    /* 건축물 착공 현황 & 안전사고 피해현황 공통 */
    .construction_site .status_bg {
        margin-top: 10px;
        padding: 50px 40px;
        background: #f4f6f9;
        border-bottom: 1px solid #8591aa;
    }
    .construction_site .content_title {
        font-size: 22px;
    }
    .construction_site .start_status_chart, 
    .construction_site .damage_status_chart {
        background: #f4f6f9;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    .construction_site table th, .construction_site table td {
        font-size: 20px;
    }

    /* 건축물 착공 현황 */
    .construction_site .start_status_chart {
        height: 300px;
        margin-top: 56px;
    }
    .construction_site .start_status_chart table {
        width: 100%;
        height: 100%;
    }
    .construction_site .start_status_chart table col:first-child {
        width: 10% !important;
    }
    .construction_site .start_status_chart table col:last-child {
        width: 90% !important;
    }
    .construction_site .start_status_chart tr:last-child td:last-child {
        width: 90%;
    }

    /* 안전사고 피해현황 */
    .construction_site .damage_status_chart {
        margin-top: 56px;
    }
    .construction_site .damage_status_chart .chart_icon {
        margin: 0.1613vw 0;
    }

    /* 지도 영역 */
    .construction_site .map_wrap {
        top: 50px;
        padding: 0 40px;
    }
    .construction_site .map_option {
        width: calc(100% - 80px);
    }

    /* 지역별 현황 */

    /* 메인 탭 전환 */
    .construction_site .area_info .inspection ul {
        padding: 50px 0;
    }
    .construction_site .area_info .inspection .insp_circle2 {
        margin: 0 4.8828vw;
    }
    /* 공공기관 링크 모바일 버전 (슬라이더) */
    .construction_site .institutions_m {
        margin: 0 40px;
    }

    /* 서브페이지 */
    .sub_page .container {
        margin-top: 110px;
        padding: 0 40px;
        padding-top: 50px;
    }
    /* 공사장 관리 */
    .const_mgt .search_container {
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: none;
    }
    .sub_page .title_wrap::after {
        width: 79%;
    }
    /* 주소 선택 */
    .const_mgt .search_form .adress h3 {
        display: none;
    }
    .const_mgt .search_form .adress form {
        width: 100%;
    }
    /* 검색 폼 영역 */
    .const_mgt .search_container .search_form {
        padding: 0 30px;
        border: 2px solid #515463;
        border-top: 5px solid #28344c;
    }
    /* 검색조건 탭 */
    .const_mgt .searchRqt_tab {
        display: none;
    }
    /* 추가 검색조건 */
    .const_mgt .search_add {
        display: none;
    }
    .const_mgt .search_add .check_wrap li:first-child li:nth-child(7) {
        margin-top: 15px;
    }
    /* 검색조건 선택 버튼 (모바일) */
    .const_mgt .searchFilter_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 55px;
        font-size: 18px;
        margin-bottom: 45px;
        background: transparent;
        border: 2px solid #192b80;
    }
    .const_mgt .searchFilter_btn img {
        margin-right: 16px;
    }
    /* 검색조건 선택 (모바일) */
    .const_mgt .searchFilter_m {
        /* display: block; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        background: #eeeff2;
        z-index: 999;
    }
    .const_mgt .searchFilter_m .searchFilter_top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        padding: 0 30px;
        background: #3978fc;
        border-bottom: 2px solid #194fc0;
    }
    .const_mgt .searchFilter_m .init_btn_m {
        width: 94px;
        height: 40px;
        color: #fff;
        background: #192b80;
        border: 1px solid #0b1750;
    }
    .const_mgt .searchFilter_m .init_btn_m img {
        margin-right: 5px;
    }
    .const_mgt .searchFilter_m .searchFilter_top h2 {
        font-size: 24px;
        color: #fff;
    }
    .const_mgt .searchFilter_m .close_btn {
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url(../images/icon/close_btn.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* 검색조건 체크리스트 (모바일) */
    .const_mgt .searchFilter_list {
        padding-top: 64px;
    }
    .const_mgt .searchFilter_list form > ul > li {
        padding: 25px 30px;
        background: #f6f7fa;
        border-bottom: 1px solid #d0d1d2;
    }
    .const_mgt .searchFilter_list form > ul > li h3 {
        line-height: 1;
        font-size: 15px;
        color: #3e3e3e;
    }
    .const_mgt .searchFilter_list form > ul > li h4 {
        line-height: 1;
        font-family: 'NotoSansKR-Bold';
        font-size: 24px;
        color: #3978fc;
        padding-top: 10px;
    }
    .const_mgt .searchFilter_list form > ul > li:not(:first-child) {
        margin-top: 7px;
    }
    .const_mgt .searchFilter_list form > ul > li:nth-child(2) {
        border: none;
    }
    .const_mgt .searchFilter_list form > ul > li:nth-child(3) {
        margin-top: 0;
        background: transparent;
    }
    .const_mgt .searchFilter_list form > ul > li:nth-child(3) .check_list {
        padding: 0;
    }
    .const_mgt .searchFilter_list form > ul> li:nth-child(3) .check_list li.active {
        background: #192b80;
    }
    .const_mgt .searchFilter_list .check_list {
        display: flex;
        padding-top: 16px;
    }
    .const_mgt .searchFilter_list .check_list li {
        font-size: 18px;
        color: #464646;
        margin-right: 10px;
        background: #fff;
        border: 1px solid #bbb;
    }
    .const_mgt .searchFilter_list .check_list label {
        padding: 15px 35px;
    }
    .const_mgt .searchFilter_list .check_list li.active {
        color: #fff;
        background: #3978fc;
        border: none;
    }
    .const_mgt .searchFilter_list form > ul > li:last-child {
        padding-bottom: 75px;
    }
    .const_mgt .searchFilter_list .datepicker {
        width: 50%;
        height: 46px;
        font-size: 18px;
        margin-top: 16px;
    }
    .const_mgt .searchFilter_bottom button {
        width: 50%;
        font-size: 24px;
        padding: 22px 0;
    }
    .const_mgt .searchFilter_bottom button:first-child {
        color: #192b80;
        background: #fff;
        border-top: 1px solid #3978fc;
        border-bottom: 1px solid #3978fc;
    }
    .const_mgt .searchFilter_bottom button:last-child {
        color: #fff;
        background: #192b80;
    }
    /* 키워드 말풍선 */
    .const_mgt .search_decision .sBubble {
        display: none !important;
    }
    /* 검색 결정 */
    .const_mgt .search_decision {
        padding-top: 55px;
        padding-left: 30px;
        padding-right: 30px;
        background: #cdd5e9;
    }
    .const_mgt .search_decision .decisionBtn {
        position: static;
    }
    .const_mgt .search_decision .decisionBtn button:not(:last-child) {
        font-size: 18px;
    }
    .const_mgt .search_decision .save_btn {
        position: absolute;
        top: 15px;
        right: 30px;
        transform: none;
    }
    /* 검색 결과 */
    .const_mgt .search_result .result_top {
        flex-direction: column-reverse;
    }
    .const_mgt .search_result .result_option {
        width: 100%;
        margin-bottom: 46px;
    }
    .const_mgt .search_result .result_option button {
        width: 49.5%;
        font-size: 22px;
        color: #fff;
        padding: 20px 0;
        background: #464646;
        border: 1px solid #232323;
        box-shadow: 0px 5px 10px 0px rgba(34, 31, 31, 0.2);
    }
    .const_mgt .search_result .result_option button:hover {
        background: #323232;
    }
    .const_mgt .search_result .result_option button:last-child {
        margin-left: 1%;
    }
    .const_mgt .search_result .total {
        align-self: flex-end;
    }
    .const_mgt .search_result .total p {
        font-size: 26px;
    }
    /* 검색결과 리스트 */
    .const_mgt .search_result .result_list {
        width: 100vw;
        margin-left: -40px;
    }
    .const_mgt .search_result .subject_wrap {
        display: none;
    }
    .const_mgt .search_result .result_wrap {
        padding: 0;
        border-top: 4px solid #192b80;
        border-bottom: 4px solid #464646;
    }
    .const_mgt .result_list .result > li:hover {
        background: none;
    }
    .const_mgt .search_result .result > li:nth-child(2n) {
        background: #f4f8ff !important;
    }
    .const_mgt .search_result .result_item {
        flex-wrap: wrap;
        padding: 45px 0;
    }
    .const_mgt .search_result .result_item li {
        text-align: left;
        padding-bottom: 0;
    }
    .const_mgt .search_result .result_item li:first-child {
        display: none; 
    }
    .const_mgt .search_result .result_item li:nth-child(2) {
        width: 100%;
        font-size: 28px;
        padding-top: 0;
        padding-bottom: 45px;
        padding-left: 26px;
        padding-right: 26px;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) {
        width: 50%;
        font-size: 20px;
        padding-top: 25px;
    }
    .const_mgt .search_result .result_item li:nth-child(2n + 1) {
        padding-left: 46px;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) span {
        display: inline-block;
        width: 50%;
        margin-right: 26px;
        border-right: 2px solid #d0d0d0;
    }
    .const_mgt .search_result .result_bottom {
        display: none;
    }
    /* 카피라이트 */
    .copyright {
        width: 100vw;
        height: 100%;
        color: #fff;
        margin-top: 110px;
        margin-bottom: -50px;
        margin-left: -40px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 40px;
        background: #2c3646;
    }

    /* 로그인 페이지 */
    .login_page {
        flex-direction: column;
        /* height: auto; */
        overflow-y: hidden;
        background-color: #d5d6d9;
        background-image: none;
    }
    .login_page .header_m {
        top: 0;
    }
    .login_page .login_box {
        position: static;
        transform: none;
        flex-direction: column;
        width: 100%;
        margin-top: 110px;
        height: auto;
    }
    .login_page .loginBox_title,
    .login_page .loginBox_main {
        width: 100% !important;
        height: auto;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .login_page .login_box .loginBox_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .login_page .login_box .loginBox_title h2 {
        font-size: 54px;
    }
    .login_page .login_box .loginBox_title p {
        font-size: 20px;
    }
    .login_page .login_box .loginBox_title img {
        width: 109px;
        margin: 0;
    }
    .login_page .loginBox_main {
        padding-top: 87px !important;
        padding-bottom: 90px !important;
    }
    .login_page .login_box .loginBox_main li:first-child {
        margin-top: 26px;
        margin-bottom: 20px;
    }
    .login_page .login_box .loginBox_main input {
        height: 78px;
        font-size: 24px;
    }
    .login_page .login_box .loginBox_main .login_subBtn button {
        font-size: 21px;
    }
    .login_page .copyright {
        position: static;
        align-self: flex-start;
        height: 100% !important;
        font-size: 14px;
        margin: 0;
        padding-left: 0;
        padding-bottom: 100%;
    }
}

@media (max-width: 768px) {
    /* 공통 영역 */
    .col-4 {
        padding: 0 25px;
    }

    /* 메인 컨텐츠 */

    /* Today 안전사고 */
    .construction_site .day_stats_bg {
        margin-top: 10px;
        padding: 40px 25px;
    }
    .construction_site .d_stats_title h3 {
        font-size: 26px;
    }
    .construction_site .d_stats_lists {
        padding: 20px 0;
    }
    .construction_site .d_stats_lists ul {
        flex-wrap: nowrap;
    }
    .construction_site .d_stats_lists ul::before {
        display: none;
    }
    .construction_site .d_stats_lists ul::after {
        display: none;
    }
    .construction_site .d_stats_lists li {
        position: relative;
    }
    .construction_site .d_stats_lists li:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: #a5b7d0;
    }
    .construction_site .d_stats_lists li {
        padding: 10px 0;
    }
    .construction_site .d_stats_lists li strong {
        line-height: 1;
        font-size: 38px;
    }
    .construction_site .d_stats_lists li span {
        font-size: 16px;
    }
    .construction_site .d_stats_lists li p {
        font-size: 13px;
    }
    

    /* 건축물 착공 현황 & 안전사고 피해현황 공통 */
    .construction_site .status_bg {
        margin-top: 10px;
    }
    .construction_site .content_title {
        font-size: 3.6458vw;
        padding-left: 12px;
    }
    .construction_site .start_status .title_wrap img,
    .construction_site .damage_status .title_wrap img {
        width: auto;
    }

    .construction_site .start_status_chart {
        margin-top: 36px;
    }

    /* 지도 영역 */
    .construction_site .map_wrap {
        padding: 0 25px;
    }

    /* 지도 옵션 */
    .construction_site .map_option {
        width: calc(100% - 50px);
    }

    /* 날씨 정보 */
    .construction_site .weather_wrap .area_name {
        width: 30% !important;
    }
    .construction_site .weather_wrap .area_name h5 {
        font-size: 3.9063vw;
    }
    .construction_site .weather_wrap .area_name h5::before {
        width: 11.7188vw;
    }
    .construction_site .weather_wrap .weather {
        width: 70% !important;
    }
    .construction_site .weather_wrap p.day {
        font-size: 2.3438vw;
    }
    .construction_site .weather_wrap .weather li.today p.day {
        padding: 0.6510vw 1.5625vw;
    }
    .construction_site .weather_wrap .weather_main p.temperture strong {
        font-size: 3.9063vw;
    }
    .construction_site .weather p.rain {
        font-size: 1.8229vw;
    }
    .construction_site .weather_wrap .storm {
        font-size: 1.9531vw;
    }
    .construction_site .weather_wrap .storm img {
        width: 1.6927vw;
    }

    /* 메인 탭 전환 */
    .construction_site .area_info .tab_main > .tab_index {
        font-size: 2.6042vw;
    }
    .construction_site .area_info .tab_main > .tab_index li {
        padding: 20px 0;
        border-radius: 5px 5px 0 0;
    }
    .construction_site .area_info .inspection ul {
        justify-content: space-between;
    }
    .construction_site .area_info .inspection .circle {
        min-width: 26.0417vw !important;
        height: 26.0417vw !important;
    }
    .construction_site .area_info .inspection .insp_circle2 {
        margin: 0;
    }

    /* 안전사고 발생 현황 */

    /* 서브 탭 전환 */
    .construction_site .area_info .tab_sub > .tab_index li {
        font-size: 2.6042vw;
        border-radius: 5px 5px 0 0;
    }
    .construction_site .tab_sub > .tab_content {
        padding-top: 25px;
    }
    .construction_site .area_info .safechk_occu .title_wrap img {
        width: auto;
      }
    .construction_site .area_info .safechk_circle {
        width: 22.3958vw;
        height: 22.3958vw;
    }
    .construction_site .area_info .safechk_circle .text_wrap strong {
        font-size: 5.2083vw;
    }
    .construction_site .area_info .safechk_result {
        padding: 35px 30px;
    }
    .construction_site .area_info .safechk_wrap {
        padding: 50px 0;
    }
    .construction_site .area_info .safechk_circle .text_wrap p {
        font-size: 3.1250vw;
    }
    .construction_site .area_info .safechk_result span {
        font-size: 2.6042vw;
    }
    .construction_site .area_info .safechk_result span > sub {
        width: 16px;
        height: 16px;
    }
    .construction_site .area_info .safechk_result p {
        font-size: 2.6042vw;
    }

    /* 공공기관 링크 모바일 버전 (슬라이더) */
    .construction_site .institutions_m {
        margin: 0 25px;
        margin-bottom: 150px;
    }

    /* 서브페이지 */
    .sub_page .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .sub_page .title_wrap::after {
        width: 70%;
    }
    /* 검색 결과 */
    .const_mgt .search_result .result_list {
        margin-left: -25px;
    }
    /* 카피라이트 */
    .copyright {
        margin-left: -25px;
        padding-left: 25px;
    }
}

@media (max-width: 640px) {
    /* header.css */
    .header_m .logo_wrap {
        height: 14.9254vw;
        font-size: 3.7313vw;
        padding-left: 3.7313vw;
    }
    .header_m .burger_btn {
        width: 14.9254vw;
        height: 14.9254vw;
        background-size: 40%;
    }

    /* 메인 컨텐츠 */
    .construction_site .container {
        padding-top: 14.9254vw;
    }
    /* 지역별 현황 */
    .construction_site .area_info .tab_main > .tab_content {
        padding-top: 0 !important;
    }
	.construction_site .area_info .inspection .circle {
		min-width: 150px !important;
		height: 150px !important;
	}

    /* 서브페이지 */
    .sub_page .container {
        padding-top: 14.9254vw;
    }
    .sub_page .container {
        margin-top: 16.5625vw;
    }
    .sub_page .title_wrap::after {
        width: 66%;
    }
    /* 조건검색 키워드 */
    .const_mgt .search_decision .keyword_wrap {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .const_mgt .search_decision .keyword_list {
        width: 100%;
    }
    .const_mgt .search_decision .keyword_list > li {
        width: 20%;
        text-align: center;
        padding: 0 !important;
    }
    .const_mgt .search_decision .keyword button.kEdit_btn {
        width: 100%;
        height: 45px;
        font-size: 16px;
        margin-top: 30px;
    }
    /* 검색결과 */
    .const_mgt .search_result .result_option button {
        width: 48.5%;
        font-size: 18px;
    }
    .const_mgt .search_result .result_option button:last-child {
        margin-left: 3%;
    }
    .const_mgt .search_result .total p {
        font-size: 24px;
    }
    /* 검색결과 리스트 */
    .const_mgt .search_result .result_item {
        flex-direction: column;
        align-items: start;
        padding: 40px 0;
    }
    .const_mgt .search_result .result_item li:nth-child(2) {
        font-size: 24px;
        padding-bottom: 0;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) {
        width: 100%;
        font-size: 18px;
        padding-left: 30px;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) span {
        width: 30%;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) p {
        width: 70%;
    }
}

@media (max-width: 540px) {
	/* 공통 영역 */
    .container {
        margin-bottom: 128px;
    }
	.col-6 {
		height: 600px;
	}

    /* header.css */
    /* 상황전파 버튼 (모바일) */
    .acdnt_sprd_m {
        bottom: 8px;
        height: 70px;
        font-size: 24px;
    }
    .acdnt_sprd_m img {
        width: 30px;
    }
    .acdnt_sprd_m::before {
        top: -8px;
        height: 8px;
    }
    .acdnt_sprd_m::after {
        bottom: -8px;
        height: 8px;
    }

    /* 모바일 메뉴 (로그인) */
    .mobile_menu .m_menu_top {
        height: 150px;
    }
    /* 모바일 메뉴 상단 */
    .mobile_menu .login_icon {
        width: 48px;
        height: 48px;
        background-size: 40%;
    }
    .mobile_menu .login_text span {
        font-size: 24px;
    }
    .mobile_menu .close_btn {
        width: 30px;
        height: 30px;
    }
    /* 모바일 메뉴 리스트 */
    .mobile_menu .m_menu_lists li a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .mobile_menu .m_menu_lists li p {
        font-size: 20px;
    }
    .mobile_menu .m_menu_lists li img {
        width: 10px;
    }
    .mobile_menu .m_menu_lists .accordion_btn {
        width: 30px;
        height: 30px;
        background-size: 50%;
    }
    .mobile_menu .m_submenu li span {
        font-size: 20px;
    }
    /* 모바일 메뉴 하단 */
    .mobile_menu .m_menu_bottom {
        margin-top: 30px;
    }
    .mobile_menu .bottom_menu {
        height: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobile_menu .home_btn {
        font-size: 24px;
    }
    .mobile_menu .home_btn img {
        width: 30px;
        margin-right: 10px;
    }
    .mobile_menu .night_mode_m {
        height: 40px;
      }
    .mobile_menu .night_mode_m p {
        font-size: 24px;
        margin-right: 10px;
    }
    .mobile_menu .switch_wrap {
        width: 48px;
        height: 100%;
    }
    .mobile_menu .switch_btn {
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
    }
    .mobile_menu .switch_body {
        height: 22px;
    }

    /* 모바일 메뉴 (로그아웃 버전) */
    .mobile_menu .m_logout .login_text span {
        font-size: 20px;
    }
    .mobile_menu .m_logout .login_text strong {
        font-size: 24px;
        padding-right: 32px;
    }
    .mobile_menu .m_logout .login_text strong::after {
        top: 22%;
        right: 14px;
        height: 24px;
    }

    /* 메인 컨텐츠 */

    /* 건축물 착공 현황 & 안전사고 피해현황 공통 */
    .construction_site .content_title {
        font-size: 22px;
    }
    .construction_site table th, .construction_site table td {
        font-size: 18px;
    }
    .construction_site .start_status_chart tr:last-child td:last-child {
        margin-bottom: 2px;
    }
    .construction_site .damage_status_chart th p {
        top: -14px;
    }
	
	/* 지도 영역 */

    /* 지도 옵션 */
	.construction_site .map_option ul {
        flex-wrap: wrap;
    }
	.construction_site .map_option li {
        width: 23.6763%;
		font-size: 16px;
	}
    .construction_site .map_option li:nth-child(2n) {
        margin: 0;
    }
    .construction_site .map_option li:not(:nth-child(4)) {
        margin-right: 1.765%;
    }
    .construction_site .map_option li:last-child {
        margin-top: 10px;
    }
	.construction_site .map_option li .checking {
		width: 20px;
		height: 20px;
        margin-top: 3px;
	}

    .construction_site .map_view .all_area {
        top: 150px;
        left: 0;
        width: 100px;
        font-size: 14px;
    }
    .construction_site .map_view .zoom_btn {
        top: 150px;
        right: 0;
    }
    .construction_site .map_view .total {
        width: 100px;
        height: 80px;
    }
    .construction_site .map_view .total span {
        font-size: 30px;
    }

    /* 지역별 현황 */

    /* 날씨 정보 */
    .construction_site .area_info .weather_wrap {
        flex-direction: column;
    }
    .construction_site .weather_wrap .area_name {
        margin-top: 30px;
    }
    .construction_site .weather_wrap .area_name h5 {
        font-size: 30px;
    }
    .construction_site .weather_wrap .area_name h5::before {
        width: 85px;
    }
    .construction_site .weather_wrap .weather {
        width: 100% !important;
        margin-top: 30px;
        padding: 0 25px;
    }
    .construction_site .weather_wrap p.day {
        font-size: 16px;
    }
    .construction_site .weather_wrap .weather_main p.temperture strong {
        font-size: 25px;
    }
    .construction_site .weather p.rain {
        font-size: 14px;
    }

    /* 메인 탭 전환 */
    .construction_site .area_info .tab_main > .tab_index {
        font-size: 18px;
    }
    .construction_site .area_info .tab_main > .tab_index li {
        padding: 10px 0;
    }
    .construction_site .area_info .inspection .circle {
        min-width: 24.0741vw !important;
        height: 24.0741vw !important;
    }
    .construction_site .area_info .inspection .circle .text_wrap strong {
        font-size: 6.6667vw;
    }
    .construction_site .area_info .inspection .circle .text_wrap span {
        font-size: 3.3333vw;
    }
    .construction_site .area_info .inspection .circle .text_wrap p {
        font-size: 2.963vw;
    }

    /* 안전사고 발생 현황 */

    /* 서브 탭 전환 */
    .construction_site .area_info .safechk_wrap {
        padding: 30px 0;
    }
    .construction_site .area_info .tab_sub {
        width: 92%;
    }
    .construction_site .area_info .tab_sub > .tab_index li {
        font-size: 18px;
        padding: 12px 0;
    }
    .construction_site .area_info .safechk_circle {
        width: 27.037vw;
        height: 27.037vw;
    }
    .construction_site .area_info .safechk_circle .text_wrap strong {
        font-size: 5.5556vw;
    }
    .construction_site .area_info .safechk_circle .text_wrap p {
        font-size: 3.3333vw;
    }
    .construction_site .area_info .safechk_result {
        padding: 18px 12px;
    }
    .construction_site .area_info .safechk_result span {
        font-size: 16px;
    }
    .construction_site .area_info .safechk_result span > sub {
        width: 10px;
        height: 10px;
    }
    .construction_site .area_info .safechk_result p {
        font-size: 16px;
    }

    /* 서브페이지 */
    .sub_page .container {
        padding-top: 30px;
    }
    .sub_page .title_wrap::after {
        width: 60%;
    }
    /* 주소 선택 */
    .const_mgt .search_form .adress ul {
        flex-direction: column;
    }
    .const_mgt .search_form .adress li {
        width: 100% !important;
    }
    .const_mgt .search_form .adress li:not(:first-child) {
        margin-top: 15px !important;
    }
    .const_mgt .search_form .adress select,
    .const_mgt .search_form .adress input[type="text"] {
        width: 100% !important;
    }
    /* 검색 결정 */
    .const_mgt .picked_rqt li {
        font-size: 14px;
        padding: 8px 10px;
    }
    .const_mgt .picked_rqt li:not(:last-child) {
        margin-right: 10px;
    }
    .const_mgt .picked_rqt li img {
        width: 14px;
        margin-left: 10px;
    }
    /* 조건검색 키워드 */
    .const_mgt .search_decision .keyword_wrap {
        font-size: 13px;
    }
}

@media (max-width: 414px) {
    /* 공통 영역 */
    .container {
        margin-bottom: 115px;
    }
    .col-4 {
        margin-top: 60px;
        padding: 0 20px;
    }

    /* header.css */
    .header_m .logo_wrap {
        height: 52px;
        font-size: 15px;
        padding-left: 15px;
    }
    .header_m .burger_btn {
        width: 52px;
        height: 52px;
    }

    /* 상황전파 버튼 (모바일) */
    .acdnt_sprd_m {
        bottom: 5px;
        height: 60px;
        font-size: 20px;
    }
    .acdnt_sprd_m img {
        width: 25px;
    }
    .acdnt_sprd_m::before {
        top: -5px;
        height: 5px;
    }
    .acdnt_sprd_m::after {
        bottom: -5px;
        height: 5px;
    }

    /* 모바일 메뉴 (로그인) */
    .mobile_menu .m_menu_top {
        height: 88px;
    }
    /* 모바일 메뉴 상단 */
    .mobile_menu .login_text {
        padding: 18px 15px 7px;
    }
    .mobile_menu .login_icon {
        width: 32px;
        height: 32px;
        background-size: 40%;
    }
    .mobile_menu .login_text span {
        font-size: 18px;
    }
    .mobile_menu .login_link {
        font-size: 13px;
        margin-left: 15px;
    }
    .mobile_menu .login_link img {
        width: 6px;
        margin-left: 9px;
    }
    .mobile_menu .close_btn {
        top: 18px;
        right: 15px;
        width: 18px;
        height: 18px;
    }
    /* 모바일 메뉴 리스트 */
    .mobile_menu .m_menu_lists > ul {
        padding: 88px 15px 200px;
    }
    .mobile_menu .m_menu_lists > ul > li:not(:last-child) {
        border-width: 1px;
    }
    .mobile_menu .m_menu_lists li a {
        padding: 20px 10px;
    }
    .mobile_menu .m_menu_lists li p {
        font-size: 15px;
    }
    .mobile_menu .m_menu_lists li img {
        width: 7px;
    }
    .mobile_menu .m_menu_lists .accordion_btn {
        width: 20px;
        height: 20px;
        background-size: 55%;
    }
    .mobile_menu .m_submenu {
        padding: 18px 0;
    }
    .mobile_menu .m_submenu li span {
        font-size: 15px;
    }
    /* 모바일 메뉴 하단 */
    .mobile_menu .m_menu_bottom {
        margin-top: 50px;
    }
    .mobile_menu .bottom_menu {
        height: 100px;
        margin-top: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobile_menu .home_btn {
        font-size: 18px;
    }
    .mobile_menu .home_btn img {
        width: 20px;
        margin-right: 7px;
    }
    .mobile_menu .night_mode_m p {
        font-size: 16px;
    }
    .mobile_menu .account_wrap button {
        height: 42px;
        font-size: 14px;
    }
    
    /* 모바일 메뉴 (로그아웃 버전) */
    .mobile_menu .m_logout .login_text span {
        font-size: 14px;
        padding-right: 20px;
    }
    .mobile_menu .m_logout .login_text strong {
        font-size: 18px;
    }
    .mobile_menu .m_logout .login_text strong::after {
        top: 22%;
        height: 18px;
    }

    /* 메인 컨텐츠 */
    .construction_site .container {
        padding-top: 52px;
    }
    /* Today 안전사고 */
    .construction_site .day_stats_bg {
        padding: 25px 20px;
    }
    .construction_site .d_stats_title {
        padding: 10px 0;
    }
    .construction_site .d_stats_title h3 {
        font-size: 16px;
    }
    .construction_site .d_stats_title span {
        line-height: 1;
        font-size: 13px;
        padding: 3px 5px;
    }
    .construction_site .d_stats_lists li {
        padding: 0;
    }
    .construction_site .d_stats_lists li strong {
        font-size: 24px;
    }
    .construction_site .d_stats_lists li span {
        font-size: 14px;
    }
    .construction_site .d_stats_lists li p {
        padding: 0;
    }

    /* 건축물 착공 현황 & 안전사고 피해현황 공통 */
    .construction_site .status_bg {
        padding: 25px 20px;
    }
    .construction_site .start_status .title_wrap img,
    .construction_site .damage_status .title_wrap img {
        width: 17px;
    }
    .construction_site .content_title {
        font-size: 20px;
        padding-left: 10px;
    }
    .construction_site table th, .construction_site table td {
        font-size: 16px;
    }
    .construction_site .start_status_chart tr:last-child td:last-child {
        margin-bottom: 4px;
    }

    /* 지도 영역 */
    .construction_site .map_wrap {
        padding: 0 20px;
    }
    /* 지도 옵션 */
    .construction_site .map_option {
        width: calc(100% - 40px);
    }
    .construction_site .map_option li {
        width: 32.1567%;
    }
    .construction_site .map_option li:nth-child(3) {
        margin-right: 0;
    }
    .construction_site .map_option li:nth-child(4) {
        margin-top: 10px;
    }
    .construction_site .map_option li:last-child {
        margin-left: 1.765%;
    }
    .construction_site .map_view .zoom_btn {
        display: none;
    }
    .construction_site .map_view .total {
        width: 70px;
        height: 55px;
    }
    .construction_site .map_view .total p {
        font-size: 13px;
    }
    .construction_site .map_view .total span {
        font-size: 22px;
    }


    /* 지역별 현황 */

    /* 날씨 정보 */
    .construction_site .weather_wrap .weather {
        padding: 0 20px;
    }

    /* 메인 탭 전환 */
    .construction_site .area_info .tab_main > .tab_content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .construction_site .area_info .tab_main > .tab_index {
        padding-left: 20px;
        padding-right: 20px;
    }
    .construction_site .area_info .inspection .circle {
        width: 110px !important;
        height: 110px !important;
    }

    /* 안전사고 발생 현황 */
    .construction_site .area_info .safechk_occu .title_wrap img {
        width: 9px;
    }

    /* 서브 탭 전환 */
    .construction_site .area_info .tab_sub > .tab_index li {
        font-size: 15px;
    }

    .construction_site .area_info .safechk_result {
        padding: 15px 8px;
    }
    .construction_site .area_info .safechk_result li:not(:last-child) {
        padding-bottom: 15px;
    }
    .construction_site .area_info .safechk_result span {
        font-size: 13px;
    }
    .construction_site .area_info .safechk_result span > sub {
        width: 5px;
        height: 5px;
        margin-right: 5px;
    }
    .construction_site .area_info .safechk_result p {
        font-size: 13px;
    }
    .construction_site .area_info .safechk_result strong {
        margin-right: 3px;
    }

    /* 공공기관 링크 모바일 버전 (슬라이더) */
    .construction_site .institutions_m {
        margin-left: 20px;
        margin-right: 20px;
    }
    .construction_site .institutions_m .slideBtn {
        width: 10%;
    }
    .construction_site .institutions_m .lSSlideOuter {
        width: 90%;
    }
    
    /* 서브페이지 */
    .sub_page .container {
        margin-top: 62px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sub_page .title_wrap {
        flex-direction: column;

    }
    .const_mgt .title_wrap .title_icon {
        margin: 0;
    }
    .sub_page .title_wrap h3 {
        margin-top: 10px;
    }
    .sub_page .title_wrap::after {
        display: none;
    }
    /* 검색 폼 영역 */
    .const_mgt .search_container .search_form {
        padding: 0 20px;
    }
    /* 검색 결정 */
    .const_mgt .search_decision {
        padding-left: 20px;
        padding-right: 20px;
    }
    .const_mgt .picked_rqt li {
        font-size: 12px;
        padding: 5px 8px;
    }
    .const_mgt .picked_rqt li:not(:last-child) {
        margin-right: 8px;
    }
    .const_mgt .picked_rqt li img {
        width: 10px;
        margin-left: 8px;
    }
    /* 조건검색 키워드 */
    .const_mgt .search_decision .keyword_wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .const_mgt .search_decision .keyword_list {
        flex-wrap: wrap;
    }
    .const_mgt .search_decision .keyword_list li {
        width: 25%;
    }
    .const_mgt .search_decision .keyword_list li:last-child {
        margin-top: 15px;
        border-left: none;
    }
    /* 초기화 / 검색 / 저장 버튼 */
    .const_mgt .search_decision .decisionBtn button {
        right: 20px;
        font-size: 14px;
    }
    .const_mgt .search_decision button img {
        width: 18px;
        margin-right: 5px;
    }
    /* 검색 결과 */
    .const_mgt .search_result .result_option button {
        font-size: 18px;
    }
    /* 검색 결과 리스트*/
    .const_mgt .search_result .result_list {
        margin-left: -20px;
    }
    /* 카피라이트 */
    .copyright {
        font-size: 12px;
        margin-left: -20px;
        padding-left: 20px;
    }
}

@media (max-width: 375px) {
    /* 공통 영역 */
    .col-4 {
        padding: 0 16px;
    }

    /* Today 안전사고 */
    .construction_site .day_stats_bg {
        padding: 25px 16px;
    }

    /* 건축물 착공 현황 & 안전사고 피해현황 공통 */
    .construction_site .status_bg {
        padding: 25px 16px;
    }
    .construction_site .content_title {
        font-size: 18px;
    }
    .construction_site table th, .construction_site table td {
        font-size: 13px;
    }
    .construction_site .start_status_chart tr:last-child td:last-child {
        margin-bottom: 10px;
    }
    

    /* 지도 영역 */
    .construction_site .map_wrap {
        padding: 0 16px;
    }
    /* 지도 옵션 */
    .construction_site .map_option {
        width: calc(100% - 32px);
    }

    /* 지역별 현황 */
    
    /* 날씨 정보 */
    .construction_site .weather_wrap .weather {
        padding: 0 16px;
    }
    .construction_site .weather_wrap p.day {
        font-size: 14px;
    }
    .construction_site .weather_wrap .weather_main img {
        width: 21px;
    }
    .construction_site .weather_wrap .weather_main p.temperture {
        font-size: 13px;
    }
    .construction_site .weather_wrap .weather_main p.temperture strong {
        font-size: 23px;
    }

    /* 메인 탭 전환 */
    .construction_site .area_info .tab_main > .tab_index {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .construction_site .area_info .inspection .circle {
        width: 100px !important;
        height: 100px !important;
    }

    /* 공공기관 링크 모바일 버전 (슬라이더) */
    .construction_site .institutions_m {
        margin-left: 16px;
        margin-right: 16px;
    }
    /* 서브페이지 */
    .sub_page .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    /* 검색 폼 영역 */
    .const_mgt .search_container .search_form {
        padding: 0 16px;
    }
    /* 검색 결정 */
    .const_mgt .search_decision {
        padding-left: 16px;
        padding-right: 16px;
    }
    .const_mgt .search_decision .decisionBtn button {
        right: 16px;
    }
    .const_mgt .picked_rqt li:not(:last-child) {
        margin-right: 6px;
    }

    /* 검색결과 */
    .const_mgt .search_result .result_option {
        margin-bottom: 20px;
    }
    .const_mgt .search_result .result_option button {
        font-size: 16px;
    }
    .const_mgt .search_result .total p {
        font-size: 20px;
    }
    /* 검색결과 리스트*/
    .const_mgt .search_result .result_list {
        margin-left: -16px;
    }
    .const_mgt .search_result .result_item li:nth-child(2) {
        font-size: 18px;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) {
        font-size: 16px;
    }
    .const_mgt .search_result .result_item li:not(:nth-child(2)) span {
        width: 35%;
    }
    /* 카피라이트 */
    .copyright {
        font-size: 11px;
        margin-left: -16px;
        padding-left: 16px;
    }
}