@import url(../_font.css);

.construction_site {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ced4e0;
}

/* 메인 컨텐츠 */
.construction_site .main_content {
  width: 100%;
  height: 100%;
  padding-top: 3.7037vh;
}

.construction_site .day_stats {
  width: 100%;
  height: 24.2593vh;
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  background: #fff;
  border: 2px solid #5479f7;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px #8e8e8e;
}
.construction_site .d_stats_header {
  height: 20%;
  background: #5479f7;
}
.construction_site .d_stats_title {
  color: #fff;
}
.construction_site .d_stats_title h3 {
  font-size: 22px;
  font-weight: bold;
  margin-right: 12px;
}
.construction_site .d_stats_title span {
  font-weight: 400;
  font-size: 13px;
  padding: 0.4630vh 0.9259vh;
  background: #3f5bb9;
}
.construction_site .d_stats_lists {
  height: 80%;
  padding: 1.3889vh;
}
.construction_site .d_stats_lists ul {
  position: relative;
  height: 100%;
}
.construction_site .d_stats_lists li {
  width: 50%;
  height: 50%;
  padding-top: 0.4630vh;
  padding-bottom: 0.9259vh;
  text-align: center;
}
.construction_site .d_stats_lists ul::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #a5b7d0;
}
.construction_site .d_stats_lists ul::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 1px;
  height: 100%;
  background: #a5b7d0;
}
.construction_site .d_stats_lists strong {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #3978fc;
}
.construction_site .d_stats_lists span {
  font-weight: 400;
  margin-left: 8px;
}
.construction_site .d_stats_lists p {
  font-weight: 400;
  font-size: 14px;
  padding-top: 0.6944vh;
}

/* 건축물 착공 현황 & 안전사고 피해현황 */

.construction_site .start_status,
.construction_site .damage_status {
  padding-top: 2.7778vh;
}

.construction_site .start_status h2,
.construction_site .damage_status h2 {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 600;
  /* font-size: 20px; */
  font-size: 1.8519vh;
}

.construction_site .start_status_chart,
.construction_site .damage_status_chart {
  width: 100%;
  margin-top: 1.0417vh;
  background: #fff;
  border-top: 5px solid #3978fc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px #8e8e8e;
}
.construction_site .start_status_chart {
  height: 19.2593vh;
}
.construction_site .damage_status_chart {
  height: 28.8889vh;
}

/* 지도 영역 */
.construction_site .map_option li {
  width: 20%;
  text-align: center;
  background: #fff;
  border: 1px solid #000;
  border-radius: 2px;
}
.construction_site .map_option li label {
  display: block;
  width: 100%;
  padding: 15px 0;
}
.construction_site .map_option li:first-child label {
  border-top: 4px solid #7d96f1;
}
.construction_site .map_option li:nth-child(2) label {
  border-top: 4px solid #22cbc2;
}
.construction_site .map_option li:nth-child(3) label {
  border-top: 4px solid #8cd900;
}
.construction_site .map_option li:nth-child(4) label {
  border-top: 4px solid #f1b514;
}
.construction_site .map_option li:last-child label {
  border-top: 4px solid #fa6c3e;
}
.construction_site .map_option li:nth-child(2n) {
  margin: 0 15px;
}

/* 지역별 현황 영역 */
.construction_site .area_info {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  border-top: 5px solid #28344c;
  background: #28344c;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px #8e8e8e;
}
/* 날씨 정보 */
.construction_site .area_info .weather_wrap {
  height: 19.0741vh;
  /* padding-top: 2.7778vh; */
  padding-top: 30px;
  /* padding-bottom: 3.8889vh; */
  padding-bottom: 42px;
  background: #fff;
}
.construction_site .weather_wrap .area_name {
  width: 35%;
  text-align: center
}
.construction_site .weather_wrap .area_name h5 {
  position: relative;
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 900;
  /* font-size: 30px; */
  font-size: 22.5px;
}
.construction_site .weather_wrap .area_name h5::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  background: #3978fc;
  border-radius: 2.5px;
}
.construction_site .weather_wrap .weather {
  width: 65%;
  position: relative;
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  padding-right: 20px;
}
.construction_site .weather_wrap .storm {
  font-size: 13px;
  color: #fff;
  margin-right: 3px;
  padding: 3px 10px;
  background: #28344c;
  border-radius: 5px 5px 0 0;
}
.construction_site .weather_wrap .storm:hover {
  background: #000;
  cursor: pointer;
}
.construction_site .weather ul {
  width: 100%;
  color: #fff;
  padding: 15px 0;
  background: cornflowerblue;
  border-radius: 5px;
}
.construction_site .weather_wrap .weather li {
  width: 33.3333%;
}
.construction_site .weather_wrap .weather li:nth-child(2) {
  border-left: 1px solid #7ba6ff;
  border-right: 1px solid #7ba6ff;
}
.construction_site .weather_wrap .weather li p.day {
  font-size: 15px;
}
.construction_site .weather_wrap .weather li.today p.day {
  color: #009bff;
  margin: 0 30px;
  background: #fff;
  border-radius: 50px;
}
.construction_site .weather_main {
  padding-top: 10px;
  padding-bottom: 5px;
}
.construction_site .weather_wrap .weather_main p.temperture strong {
  font-size: 30px;
  color: #fffc00;
  padding-left: 10px;
  padding-right: 5px;
}
.construction_site .weather_wrap .weather_main p.temperture {
  font-size: 15px;
}
.construction_site .weather_main p.rain {
  font-size: 14px;
}
.construction_site .weather .storm_alert {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 23px);
  background-image: url(../images/storm_alert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
}

/* 탭 전환 */
.construction_site .area_info .tab_main > .tab_index {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.construction_site .area_info .tab_main > .tab_index li {
  width: 100%;
  color: #fff;
  margin: 0 4px;
  padding: 10px 0;
  background: #3b4a6a;
  border-radius: 3px 3px 0 0;
  text-align: center;
}
.construction_site .area_info .tab_main > .tab_index li:hover {
  background: #6b80ab;
  cursor: pointer;
}
.construction_site .area_info .tab_main > .tab_index li.active {
  color: #000;
  background: #fff;
}
.construction_site .area_info .tab_main > .tab_content {
  background: #fff;
}

/* 안전사고 발생 현황 */
.construction_site .area_info .inspection ul {
  padding-top: 30px;
}
.construction_site .area_info .inspection .circle {
  width: 130px;
  height: 130px;
  text-align: center;
  background: #eeeeee;
  border-radius: 100px;
}
.construction_site .area_info .inspection .insp_circle2 {
  margin: 0 30px;
}
.construction_site .area_info .inspection .circle .text_wrap {
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 100px;
}

/* 서브 탭 전환 */
.construction_site .area_info .safechk_occu {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.construction_site .area_info .safechk_wrap {
  margin-top: 16px;
  background: #ecf1f9;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}
.construction_site .area_info .tab_sub {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.construction_site .area_info .tab_sub > .tab_index li {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #c4ccd5;
  border-radius: 3px 3px 0 0;
  text-align: center;
}
.construction_site .area_info .tab_sub > .tab_index li:hover {
  cursor: pointer;
}
.construction_site .area_info .tab_sub > .tab_index li.active {
  color: #fff;
  background: #5180e3;
  border-bottom: none;
}
.construction_site .area_info .safechk_wrap .tab_content {
  padding: 40px 20px;
  background: transparent;
}
.construction_site .area_info .safechk_circle {
  width: 146px;
  height: 146px;
  background: green;
  border-radius: 100px;
}
.construction_site .area_info .safechk_circle .text_wrap {
  width: 80%;
  height: 80%;
  background: #ecf1f9;
  border-radius: 100px;
}
.construction_site .area_info .safechk_result {
  width: 50%;
  background: #fff;
  border: 1px solid #cfdae9;
  border-radius: 3px;
}
