.construction_site {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ced4e0;
}
/* 메인 컨텐츠 */
.main_content {
  width: 100%;
}
.construction_site .container {
  padding-top: 70px;
  padding-left: 70px;
}
/* Today 안전사고 */
.construction_site .day_stats {
  width: 100%;
  height: 24.2593vh;
  background: #fff;
  border: 2px solid #5479f7;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(35, 31, 32, 0.3);
}
.construction_site .d_stats_header {
  height: 20%;
  background: #5479f7;
}
.construction_site .d_stats_title {
  color: #fff;
}
.construction_site .d_stats_title h3 {
  line-height: 1;
  font-size: 2.0370vh;
  font-weight: bold;
  margin-right: 12px;
}
.construction_site .d_stats_title span {
  font-size: 1.2037vh;
  padding: 0.463vh 0.9259vh;
  background: #3f5bb9;
}
.construction_site .d_stats_lists {
  height: 80%;
  padding: 1.3889vh;
}
.construction_site .d_stats_lists ul {
  position: relative;
  width: 100%;
  height: 100%;
}
.construction_site .d_stats_lists li {
  width: 50%;
  height: 50%;
  padding-top: 0.463vh;
  padding-bottom: 0.9259vh;
}
.construction_site .d_stats_lists ul::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #a5b7d0;
}
.construction_site .d_stats_lists ul::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 1px;
  height: 100%;
  background: #a5b7d0;
}
.construction_site .d_stats_lists strong {
  font-family: 'NotoSansKR-Bold';
  font-size: 3.5185vh;
  color: #3978fc;
}
.construction_site .d_stats_lists span {
  font-size: 1.4815vh;
  margin-left: 8px;
}
.construction_site .d_stats_lists p {
  font-size: 1.2963vh;
  padding-top: 0.463vh;
}

/* 건축물 착공 현황 & 안전사고 피해현황 공통 */
.construction_site .content_title {
  font-family: 'NanumSquareB';
  font-size: 1.8519vh;
  padding-left: 7px;
}
.construction_site .start_status .title_wrap img,
.construction_site .damage_status .title_wrap img {
  width: 17px;
}
.construction_site .start_status_chart,
.construction_site .damage_status_chart {
  width: 100%;
  margin-top: 1.0417vh;
  background: #fff;
  border-top: 5px solid #3978fc;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(35, 31, 32, 0.3);
}

.construction_site .chart_wrap {
  width: 100%;
  height: 100%;
}

/* 건축물 착공 현황 */
.construction_site .start_status_chart {
  height: 19.2593vh;
}
.construction_site .start_status_chart table {
  position: relative;
  width: 85%;
  height: 70%;
  font-size: 1.2037vh;
}
.construction_site .start_status_chart tr:not(:last-child) {
  height: 30%;
}
.construction_site .start_status_chart tr:last-child {
  height: 10%;
}
.construction_site .start_status_chart th {
  text-align: center;
  border-right: 1px solid #82b7df;
}
.construction_site .start_status_chart tr:last-child td:last-child {
  position: absolute;
  bottom: 0;
  width: 80%;
  border-top: 1px solid #82b7df;
}
.construction_site .start_status_chart tr:last-child td:first-child span {
  padding-left: 94%;
}
.construction_site .start_status_chart tr:last-child td:last-child span {
  float: right;
}
.construction_site .start_status_chart .progress {
  height: 55%;
  background: #ebecee;
}
.construction_site .start_status_chart .progress_bar {
  height: 100%;
  background: #5180e3;
  animation: progress1 1.2s ease-out;
}
@keyframes progress1 {
  from {
    width: 0%;
  }
  to {
    transform: scaleX(1);
  }
}
.construction_site .start_status_chart .pb_l {
  width: 55%;
}
.construction_site .start_status_chart .pb_m {
  width: 85%;
}
.construction_site .start_status_chart .pb_s {
  width: 25%;
}

/* 안전사고 피해현황 */
.construction_site .damage_status_chart {
  height: 28.8889vh;
}
.construction_site .damage_status_chart table {
  position: relative;
  width: 85%;
  height: 95%;
  font-size: 1.2037vh;
}
.construction_site .damage_status_chart table::before {
  content: "";
  position: absolute;
  left: 20%;
  top: 13%;
  width: 1px;
  height: 74%;
  background: #82b7df;
}
.construction_site .damage_status_chart table::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 16.6666%;
  width: 85%;
  height: 1px;
  background: #82b7df;
}
.construction_site .damage_status_chart tr {
  height: 16.6666%;
}
.construction_site .damage_status_chart .chart_icon {
  display: inline-block;
  width: 0.8333vh;
  height: 0.8333vh;
}
.construction_site .damage_status_chart .casualty_icon {
  background: #9b7ddc;
  border-radius: 100px;
}
.construction_site .damage_status_chart .injured_icon {
  background: #62c6ff;
}
.construction_site .damage_status_chart th {
  position: relative;
}
.construction_site .damage_status_chart th p {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.construction_site .damage_status_chart tr:not(:nth-child(5)) th::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 1px;
  background: #82b7df;
}
.construction_site .damage_status_chart tr:last-child th::after {
  content: none;
}
.construction_site .damage_status_chart tr:not(:nth-child(5)) td {
  border-bottom: 1px dashed #c6ddef;
}
.construction_site .damage_status_chart tr:last-child td {
  border-bottom: none;
}
.construction_site .damage_status_chart tr:nth-child(5) td {
  position: relative;
  bottom: 0;
}
.construction_site .damage_status_chart .progress {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 400%;
}
.construction_site .damage_status_chart .progress_inner {
  width: 100%;
  height: 100%;
}
.construction_site .damage_status_chart .progress_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #62c6ff;
  animation: progress2 1s ease-out;
}
@keyframes progress2 {
  from {
    height: 0%;
  }
  to {
    transform: scaleY(1);
  }
}
.construction_site .damage_status_chart .y_2018 {
  height: calc(32% * 3 - 2.3148vh);
}
.construction_site .damage_status_chart .y_2019 {
  height: calc(22% * 3 - 2.3148vh);
}
.construction_site .damage_status_chart .y_2020 {
  height: calc(25% * 3 - 2.3148vh);
}

/* 지도 영역 */

/* 지도 옵션 */
.construction_site .map_option {
  width: 100%;
}
.construction_site .map_option li {
  position: relative;
  width: 18.588%;
  height: 54px;
  font-size: 1.6667vh;
  background: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  transition: background .3s;
}
.construction_site .map_option li:nth-child(2n) {
  margin: 0 1.765%;
}
.construction_site .map_option li .option_text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.construction_site .map_option li span {
  line-height: 0 !important;
}
.construction_site .map_option li .checking {
  width: 1.7593vh;
  height: 1.7593vh;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3f4f9;
  border: 1px solid #c4c6d1;
  border-radius: 100%;
}
.construction_site .map_option li label {
  display: block;
  position: absolute;
  border-top: 4px solid;
  z-index: 3; 
} 
.construction_site .map_option li:first-child label {
  border-color: #7d96f1;
}
.construction_site .map_option li:nth-child(2) label {
  border-color: #22cbc2;
}
.construction_site .map_option li:nth-child(3) label {
  border-color: #8cd900;
}
.construction_site .map_option li:nth-child(4) label {
  border-color: #f1b514;
}
.construction_site .map_option li:last-child label {
  border-color: #fa6c3e;
}

/* 지도 보기 */
.construction_site .map_view {
  position: relative;
  width: 100%;
  height: 72.9630vh;
  background-image: url(../images/map_view.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.construction_site .map_view .all_area {
  position: absolute;
  top: 5.5556vh;
  left: 1.8519vh;
  width: 11.1111vh;
  height: 3.5185vh;
  font-size: 1.4815vh;
  background: #fff;
  border: 1px solid #3978fc;
  border-radius: 19px;
  box-shadow: 0px 1px 4px 0px rgba(35, 31, 32, 0.35);
  transition: background .13s;
}
.construction_site .map_view .all_area.active {
  color: #fff;
  background: #3978fc;
  border: 1px solid #1a5adf;
}
.construction_site .map_view .all_area img {
  width: 1.8519vh;
}
.construction_site .map_view .zoom_btn {
  position: absolute;
  top: 5.5556vh;
  right: 1.8519vh;
  width: 3.7037vh;
  overflow: hidden;
  border: 1px solid #838598;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);
}
.construction_site .map_view .zoom_btn button {
  width: 100%;
  height: 3.7037vh;
  background-color: #ecedf1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2037vh;
  transition: background .13s;
}
.construction_site .map_view .zoom_btn button:hover {
  border: 1px solid #28344c;
}
.construction_site .map_view .zoom_btn button.zoom_in {
  background-image: url(../images/icon/zoom_in.png);
  border-bottom: 1px solid #838598;

}
.construction_site .map_view .zoom_btn button.zoom_in:hover {
  background-color: #3978fc;
  background-image: url(../images/icon/zoom_in_on.png);
  border-color: #28344c;
}
.construction_site .map_view .zoom_btn button.zoom_out {
  background-image: url(../images/icon/zoom_out.png);
}
.construction_site .map_view .zoom_btn button.zoom_out:hover {
  background-color: #3978fc;
  background-image: url(../images/icon/zoom_out_on.png);
}
.construction_site .map_view .total {
  position: absolute;
  bottom: 2.7778vh;
  right: 0;
  width: 11.1111vh;
  height: 7.7778vh;
  background: #485a7f;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.45) inset;
}
.construction_site .map_view .total p {
  font-size: 1.4815vh;
  color: #ffd12a;
}
.construction_site .map_view .total span {
  font-size: 3.1481vh;
  color: #fff;
}

/* 공공기관 링크 PC버전 (슬라이더) */
.construction_site .institutions {
  padding: 1.8519vh 0;
  background: #eceff4;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.construction_site .institutions .lSSlideOuter {
  width: 88%;
  margin: 0 auto;
}
.construction_site .institutions .slideBtn {
  display: block;
  width: 6%;
  padding: 12px 0;
}
.construction_site .institutions .slideBtn:hover {
  cursor: pointer;
}
.construction_site .institutions .prevBtn {
  background-image: url(../images/icon/prev_arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}
.construction_site .institutions .nextBtn {
  background-image: url(../images/icon/next_arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* 지역별 현황 영역 */
.construction_site .area_info {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-top: 5px solid #28344c;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(35, 31, 32, 0.3);
}
/* 날씨 정보 */
.construction_site .area_info .weather_wrap {
  height: 23%;
  padding-top: 1.2963vh;
  padding-bottom: 3.8889vh;
  background: #fff;
}
.construction_site .weather_wrap .area_name {
  width: 35%;
  text-align: center;
}
.construction_site .weather_wrap .area_name h5 {
  position: relative;
  font-size: 2.7778vh;
}
.construction_site .weather_wrap .area_name h5::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  background: #3978fc;
  border-radius: 10px;
}
.construction_site .weather_wrap .weather {
  width: 65%;
  position: relative;
  padding-right: 20px;
}
.construction_site .weather_wrap .storm {
  font-size: 1.2037vh;
  color: #fff;
  margin-right: 3px;
  padding: 0.463vh 10px;
  background: #28344c;
  border-radius: 5px 5px 0 0;
}
.construction_site .weather_wrap .storm img {
  width: 1.2037vh;
}
.construction_site .weather_wrap .storm:hover {
  background: #000;
  cursor: pointer;
}
.construction_site .weather ul {
  width: 100%;
  height: 11.6667vh;
  color: #fff;
  padding: 1.3889vh 0;
  background: rgb(57, 63, 223);
  background: linear-gradient(0deg, rgba(57, 63, 223, 1) 0%, rgba(84, 121, 247, 1) 100%);
  border-radius: 5px;
}
.construction_site .weather_wrap .weather li {
  position: relative;
  width: 33.3333%;
  height: 100%;
}
.construction_site .weather_wrap .weather li:nth-child(2) {
  border-left: 1px solid #7ba6ff;
  border-right: 1px solid #7ba6ff;
}
.construction_site .weather_wrap p.day {
  line-height: 1;
  font-size: 1.3889vh;
}
.construction_site .weather_wrap .weather li.today p.day {
  color: #009bff;
  padding: 0.4630vh 1.1111vh;
  background: #fff;
  border-radius: 50px;
}
.construction_site .weather_wrap .weather_main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.construction_site .weather_wrap .weather_main img {
  width: 2.5vh;
}
.construction_site .weather_wrap .weather_main p.temperture strong {
  font-size: 2.7778vh;
  color: #fffc00;
  padding-left: 10px;
  padding-right: 5px;
}
.construction_site .weather_wrap .weather_main p.temperture {
  font-size: 1.3889vh;
}
.construction_site .weather p.rain {
  font-size: 1.2963vh;
}
.construction_site .weather .storm_alert {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 11.6667vh;
  background-image: url(../images/storm_alert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  transition: opacity .3s;
}

/* 메인 탭 전환 */
.construction_site .area_info .tab_main {
  height: 77%;
  background: #fff;
}
.construction_site .area_info .tab_main > .tab_index {
  width: 100%;
  height: 10%;
  font-size: 1.6667vh;
  padding: 0 20px;
  padding-top: 1.3889vh;
  background: #28344c;
}
.construction_site .area_info .tab_main > .tab_index li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24%;
  color: #fff;
  background: #3b4a6a;
  border-radius: 3px 3px 0 0;
  transition: background .13s;
}
.construction_site .area_info .tab_main > .tab_index li:not(:last-child) {
  margin-right: 1.3333%;
}
.construction_site .area_info .tab_main > .tab_index li:hover {
  background: #6b80ab;
  cursor: pointer;
}
.construction_site .area_info .tab_main > .tab_index li.active {
  color: #000;
  background: #fff;
}
.construction_site .area_info .tab_main > .tab_content {
  height: 90%;
  padding: 50px 20px 30px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.construction_site .insp_dark {
  display: none;
}
.construction_site .area_info .inspection .circle {
  position: relative;
  min-width: 13.8889vh !important;
  height: 13.8889vh !important;
}
.construction_site .area_info .inspection .insp_circle2 {
  margin: 0 20px;
}
.construction_site .area_info .inspection .circle canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.construction_site .area_info .inspection .circle .text_wrap {
  line-height: 1;
}
.construction_site .area_info .inspection .circle .text_wrap strong {
  font-family: 'NotoSansKR-Bold';
  font-size: 3.3333vh;
}
.construction_site .area_info .inspection .circle .text_wrap span {
  font-size: 1.6667vh;
}
.construction_site .area_info .inspection .circle .text_wrap p {
  font-size: 1.4815vh;
  color: #2296fb;
  padding-top: 5px;
}

/* 안전사고 발생 현황 */
.construction_site .area_info .safechk_occu {
  width: 100%;
  margin: 0 auto;
}
.construction_site .area_info .safechk_occu .title_wrap img {
  width: 9px;
}
.construction_site .area_info .safechk_wrap {
  margin-top: 1.3889vh;
  padding: 3.7037vh 0;
  background: #ecf1f9;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}
/* 서브 탭 전환 */
.construction_site .area_info .tab_sub {
  width: 90%;
  margin: 0 auto;
}
.construction_site .area_info .tab_sub > .tab_index li {
  width: 50%;
  font-size: 1.6667vh;
  color: #4d4f5c;
  padding: 1.3889vh 0;
  border-bottom: 2px solid #c4ccd5;
  border-radius: 3px 3px 0 0;
  transition: background .13s;
}
.construction_site .area_info .tab_sub > .tab_index li:hover {
  cursor: pointer;
}
.construction_site .area_info .tab_sub > .tab_index li.active {
  color: #fff;
  background: #5180e3;
  border-bottom: none;
}
.construction_site .tab_sub > .tab_content {
  padding-top: 1.8519vh;
}
.construction_site .area_info .safechk_circle {
  position: relative;
  width: 13.5185vh;
  height: 13.5185vh;
  margin: 0 auto;
}
.construction_site .area_info .safechk_circle canvas {
  position: absolute;
}
.construction_site .area_info .safechk_circle #myChart_dark {
  display: none;
}
.construction_site .area_info .safechk_circle .text_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
}
.construction_site .area_info .safechk_circle .text_wrap strong {
  font-size: 2.7778vh;
}
.construction_site .area_info .safechk_circle .text_wrap p {
  font-size: 1.6667vh;
}
.construction_site .area_info .safechk_result {
  width: 50%;
  color: #4d4f5c;
  padding: 2.3148vh 22px;
  background: #fff;
  border: 1px solid #cfdae9;
  border-radius: 3px;
}
.construction_site .area_info .safechk_result li:not(:last-child) {
  padding-bottom: 1.8519vh;
}
.construction_site .area_info .safechk_result span {
  line-height: 1;
  font-size: 1.3889vh;
}
.construction_site .area_info .safechk_result span > sub {
  display: inline-block;
  width: 0.6481vh;
  height: 0.6481vh;
  margin-right: 0.8333vh;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
}
.construction_site .safechk_result li:first-child span > sub {
  border-color: #52e32e;
}
.construction_site .safechk_result li:nth-child(2) span > sub {
  border-color: #ffd12a;
}
.construction_site .safechk_result li:nth-child(3) span > sub {
  border-color: #34d2de;
}
.construction_site .safechk_result li:last-child span > sub {
  border-color: #5a86e4;
}
.construction_site .area_info .safechk_result p {
  line-height: 1;
  font-size: 1.4815vh;
}
.construction_site .area_info .safechk_result strong {
  color: #0172e0;
  margin-right: 0.463vh;
}

/* 공공기관 링크 모바일 버전 (슬라이더) */
.construction_site .institutions_m {
  display: none;
}

/* 서브 페이지 */
.sub_page {
  position: relative;
  width: 100%;
  background: #d5d6d9;
}
.sub_page .container {
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 16.4583vw;
  background: #e8eef8;
}
.sub_page .title_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 26px;
}
.sub_page .title_wrap::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 0;
  width: 87%;
  height: 2px;
  background: #b1bdd2;
}
.sub_page .title_wrap .title_icon {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.1);
}

/* 공사장 관리 페이지 */
.const_mgt .title_wrap .title_icon {
  background-image: url(../images/icon/const_mgt_title.png);
}

/* 검색조건 */
.const_mgt .search_container {
  width: 100%;
  margin-top: 23px;
  padding: 0 40px;
  padding-top: 45px;
  padding-bottom: 76px;
  background: #f4f6f9;
  border: 1px solid #b6bac2;
  border-top: 5px solid #28344c;
  border-radius: 5px;
  box-shadow: 0px 1px 7px 0px rgba(35, 31, 32, 0.2);
}
.const_mgt .search_container .search_form {
  width: 100%;
  padding: 0 2.6042vw;
  padding-top: 16px;
  background: #fff;
  border: 1px solid #515463;
}
/* 주소 선택 */
.const_mgt .search_form .adress {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
.const_mgt .search_form .adress h3 {
  width: 10%;
  font-size: 18px;
}
.const_mgt .search_form .adress form {
  width: 90%;
}
.const_mgt .search_form .adress ul li:not(:last-child) {
  width: 19%;
  margin-right: 1%;
}
.const_mgt .search_form .adress select {
  width: 100%;
  height: 45px;
  font-size: 16px;
}
.const_mgt .search_form .adress ul li:last-child {
  width: 60%;
}
.const_mgt .search_form .adress input[type="text"] {
  width: 100%;
  height: 45px;
  font-size: 16px;
}
/* 검색조건 탭 */
.const_mgt .searchRqt_tab {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.const_mgt .searchRqt_tab .tab_index {
  width: 10%;
}
.const_mgt .searchRqt_tab .tab_index li {
  width: 100%;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  padding: 18px 0;
  background: #e8eaef;
  border: 1px solid #515463;
  border-right: none;
  transition: all .1s;
}
.const_mgt .searchRqt_tab .tab_index li:not(:last-child) {
  margin-bottom: 20px;
}
.const_mgt .searchRqt_tab .tab_index li:hover {
  cursor: pointer;
}
.const_mgt .searchRqt_tab .tab_index li.active {
  color: #fff;
  background: #192b80;
}
.const_mgt .searchRqt_tab .tab_content {
  display: none;
  width: 90%;
  height: 246px;
  border: 2px solid #192b80;
}
.const_mgt .searchRqt_tab .tab_content.active {
  display: block;
}
.const_mgt .searchRqt_tab #searchRqt_tab1.active {
  display: flex;
}
.const_mgt .searchRqt_tab #searchRqt_tab1 > div {
  width: 50%;
}
.const_mgt .searchRqt_tab .process_main {
  border-right: 1px solid #e8eaef;
}
.const_mgt .searchRqt_tab .tab_content p {
  line-height: 1;
  padding: 19px 0;
  background: #e8eaef;
}
.const_mgt .searchRqt_tab .tab_content ul {
  display: flex;
  padding: 30px;
}
.const_mgt .searchRqt_tab .tab_content li {
  line-height: 1;
  font-size: 15px;
  padding: 8px 20px;
  background: #dde0e2;
  border-radius: 100px;
  transition: all .1s;
}
.const_mgt .searchRqt_tab .tab_content li:hover {
  cursor: pointer;
}
.const_mgt .searchRqt_tab .tab_content li.active {
  color: #fff;
  background: #5479f7;
}
.const_mgt .searchRqt_tab .tab_content li:not(:last-child) {
  margin-right: 20px;
}
/* 추가 검색조건 */
.const_mgt .search_add .check_wrap > li {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #eaeaea;
}
.const_mgt .search_add .check_wrap > li > h3 {
  width: 10%;
}
.const_mgt .search_add .check_list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.const_mgt .search_add .check_list li {
  position: relative;
  display: flex;
}
.const_mgt .search_add .check_list li:not(:last-child) {
  margin-right: 40px;
}
.const_mgt .search_add .check_wrap li:first-child li:nth-child(10),
.const_mgt .search_add .check_wrap li:first-child li:nth-child(11) {
  margin-top: 15px;
}
.const_mgt .search_add .check_list p {
  line-height: 1;
  font-size: 15px;
  padding-left: 10px;
}
.search_add .check_list label {
  position: absolute;
  top: 0;
  left: 0;
}
.search_add .check_wrap > li:not(:nth-child(3)) .checking {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #eaeaea;
}
.search_add .check_wrap > li:not(:nth-child(3)) .checking.active {
  background-color: #5479f7;
  background-image: url(../images/icon/search_check.png);
  border: none;
}
.search_add .check_wrap > li:nth-child(3) .checking {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #eaeaea;
  border-radius: 100px;
}
.search_add .check_wrap > li:nth-child(3) .checking.active {
  background-color: #5479f7;
  border: none;
}
.search_add .check_wrap > li:nth-child(3) .checking.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
  background-color: #fff;
  border-radius: 100px;
}
.search_add .check_wrap > li:nth-child(5) p {
  padding: 0 26px;
  padding-top: 12px;
}
.search_add .check_wrap input,
.search_add .check_wrap select {
  font-size: 15px;
}
.search_add .check_wrap > li:nth-child(5) select {
  width: 100px;
  height: 40px;
}
.search_add .check_wrap > li:last-child select {
  width: 260px;
  height: 40px;
}
.search_add .check_wrap .datepicker {
  width: 260px;
  height: 40px;
}


/* datepick 커스텀 */
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
  border: 1px solid #00ccb2 !important;
  background: #00ccb2 !important;
  color: #fff !important;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
  border: 1px solid #5479f7 !important;
  background: #5479f7 !important;
}

/* 추가 검색조건 버튼 */
.const_mgt .search_add .add_btn {
  width: 100%;
  height: 108px;
}
.const_mgt .search_add .add_btn:hover {
  cursor: pointer;
}
.const_mgt .search_add .add_btn img {
  margin-left: 30px;
  transition: transform .3s;
}
.const_mgt .search_add .add_btn img.active {
  transform: rotate(180deg);
}
/* 검색조건 선택버튼 (모바일) */
.const_mgt .searchFilter_btn {
  display: none;
}
/* 검색조건 선택 (모바일) */
.searchFilter_m {
  display: none;
}
/* 검색 결정 */
.const_mgt .search_decision {
  position: relative;
  padding: 0 50px;
  padding-top: 25px;
  padding-bottom: 30px;
  background: #e8eaef;
}
.const_mgt .picked_rqt li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #192b80;
  padding: 12px 15px;
  background: #fff;
  border: 1px solid #3978fc;
  border-radius: 5px;
  transition: all .1s;
}
.const_mgt .picked_rqt li img {
  margin-left: 25px;
}
.const_mgt .picked_rqt li:hover {
  color: #fff;
  background: #354052;
  border-color: #354052;
  cursor: pointer;
}
.const_mgt .picked_rqt li:not(:last-child) {
  margin-right: 20px;
}
/* 조건검색 키워드 */
.const_mgt .search_decision .keyword_wrap {
  width: 100%;
  line-height: 1;
  font-size: 15px;
  margin-top: 26px;
  padding: 22px 27px;
  background: #fff;
  border: 1px solid #bbc5d8;
  border-radius: 3px;
}
.const_mgt .search_decision .keyword_list > li {
  position: relative;
}
.const_mgt .search_decision .keyword_list > li:hover > .sBubble {
  display: block;
}
.const_mgt .search_decision .keyword_list > li:first-child {
  padding-right: 20px;
}
.const_mgt .search_decision .keyword_list > li:not(:first-child) {
  padding: 0 20px;
  border-left: 1px solid #bbc5d8;
}
.const_mgt .search_decision .keyword button.kEdit_btn {
  width: 92px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background: #7f97be;
  border-radius: 3px;
  transition: background .1s;
}
.const_mgt .search_decision .keyword button.kEdit_btn:hover {
  background: #768caf;
}
/* 키워드 말풍선 */
.const_mgt .search_decision .sBubble {
  display: none;
	position: absolute;
  bottom: 40px;
  left: -92px;
  width: 278px;
  font-size: 13px;
  padding: 16px 20px;
	background: #fffef5;
	border: 1px solid #2c3646;
  border-radius: 3px;
}
.const_mgt .keyword_list li:first-child .sBubble {
  left: -110px;
}
.sBubble::after, .sBubble::before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.sBubble::after {
	border-color: rgba(255, 254, 245, 0);
	border-top-color: #fffef5;
	border-width: 12px;
	margin-left: -12px;
}
.sBubble::before {
	border-color: rgba(44, 54, 70, 0);
	border-top-color: #2c3646;
	border-width: 13px;
	margin-left: -13px;
}
.const_mgt .search_decision .sBubble ul {
  display: flex;
  flex-wrap: wrap;
}
.const_mgt .search_decision .sBubble li {
  display: block;
  padding-right: 10px;
}
.const_mgt .search_decision .sBubble li:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid #585e67;
}
.const_mgt .search_decision .sBubble li:last-child {
  padding-top: 5px;
}
.const_mgt .search_decision .sBubble li:hover .sBubble {
  display: flex;
  flex-wrap: wrap;
}

/* 키워드 저장 */
.const_mgt .keyword_save {
  display: none;
  position: absolute;
  top: 50px;
  right: 200px;
  width: 357px;
  height: 200px;
  padding: 40px 30px;
  background: rgb(232,238,248);
  background: linear-gradient(0deg, rgba(232,238,248,1) 0%, rgba(255,255,255,1) 100%);
  border: 1px solid #6372a1;
  border-top: 4px solid #5479f7;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgba(35, 31, 32, 0.35);
  z-index: 888;
}
.const_mgt .keyword_save::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 15px;
  background: #6372a1;
  transform: rotate(45deg) translate(5px, -2px);
}
.const_mgt .keyword_save::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 15px;
  background: #6372a1;
  transform: rotate(-45deg) translate(-5px, -2px);
}
.const_mgt .keyword_save li {
  display: flex;
  align-items: center;
}
.const_mgt .keyword_save li:first-child {
  padding-bottom: 30px;
  border-bottom: 1px solid #cccfd8;
}
.const_mgt .keyword_save label {
  justify-content: start;
  font-size: 18px;
}
.const_mgt .keyword_save input[type="text"] {
  width: 195px;
  height: 38px;
  font-size: 16px;
}
.const_mgt .keyword_save label img {
  width: 17px;
  margin-right: 8px;
}
.const_mgt .keyword_save button {
  width: 86px;
  height: 32px;
  border-radius: 5px;
  transition: background .1s;
}
.const_mgt .keyword_save button.kSave_cancel {
  margin-right: 8px;
  background: #fff;
  border: 1px solid #99a0a2;
}
.const_mgt .keyword_save button.kSave_cancel:hover {
  background: #f5f5f5;
}
.const_mgt .keyword_save button.kSave_save {
  color: #fff;
  background: #6372a1;
}
.const_mgt .keyword_save button.kSave_save:hover {
  background: #596691;
}

/* 초기화 / 검색 / 저장 버튼 */
.const_mgt .search_decision .decisionBtn {
  position: relative;
  line-height: 1;
  margin-top: 30px;
}
.const_mgt .search_decision .decisionBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s;
}
.const_mgt .search_decision button img {
  margin-right: 10px;
}
.const_mgt .search_decision .init_btn {
  width: 132px;
  height: 50px;
  margin-right: 15px;
  background: #fff;
  border: 1px solid #cfdaee;
  border-radius: 100px;
}
.const_mgt .search_decision .init_btn:hover {
  background: #f5f5f5;
}
.const_mgt .search_decision .search_btn {
  width: 132px;
  height: 50px;
  color: #fff;
  background: #5479f7;
  border-radius: 100px;
}
.const_mgt .search_decision .search_btn:hover {
  background: #5174ed;
}
.const_mgt .search_decision .save_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  background: transparent;
}
.const_mgt .search_decision .save_btn:hover {
  color: #5d5d5d;
}

/* 검색 결과 */
.const_mgt .search_result {
  margin-top: 77px;
}
.const_mgt .search_result .result_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.const_mgt .search_result .total p {
  font-size: 22px;
  color: #585858;
}
.const_mgt .search_result .total strong {
  color: #5479f7;
}
.const_mgt .search_result .result_option button {
  font-size: 14px;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #c0c9cb;
  border-radius: 5px;
  transition: background .1s;
}
.const_mgt .search_result .result_option button:hover {
  background: #f5f5f5;
}
.const_mgt .search_result .result_option button:last-child {
  margin-left: 8px;
}
/* 검색결과 리스트 */
.const_mgt .search_result .result_list {
  line-height: 1;
  margin-top: 14px;
}
.const_mgt .result_list .subject_wrap {
  padding: 0 15px;
  background: #e8eef8;
  border-top: 2px solid #192b80;
  border-bottom: 1px solid #d0d1d2;
}
.const_mgt .result_list .subject {
  padding: 15px 0;
}
.const_mgt .search_result .result_wrap {
  position: relative;
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #464646;
}
.const_mgt .result_item li {
  padding: 15px 0;
}
.const_mgt .search_result .subject li:nth-child(1),
.const_mgt .search_result .result_item li:nth-child(1) {
  width: 7%;
}
.const_mgt .search_result .subject li:nth-child(2),
.const_mgt .search_result .result_item li:nth-child(2) {
  width: 20%;
}
.const_mgt .search_result .subject li:nth-child(3),
.const_mgt .search_result .result_item li:nth-child(3) {
  width: 8%;
}
.const_mgt .search_result .subject li:nth-child(4),
.const_mgt .search_result .result_item li:nth-child(4) {
  width: 8%;
}
.const_mgt .search_result .subject li:nth-child(5),
.const_mgt .search_result .result_item li:nth-child(5) {
  width: 13%;
}
.const_mgt .search_result .subject li:nth-child(6),
.const_mgt .search_result .result_item li:nth-child(6) {
  width: 13%;
}
.const_mgt .search_result .subject li:nth-child(7),
.const_mgt .search_result .result_item li:nth-child(7) {
  width: 13%;
}
.const_mgt .search_result .subject li:nth-child(8),
.const_mgt .search_result .result_item li:nth-child(8) {
  width: 8%;
}
.const_mgt .search_result .subject li:nth-child(9),
.const_mgt .search_result .result_item li:nth-child(9) {
  width: 10%;
}
.const_mgt .result_list .result > li {
  position: relative;
  transition: background .1s;
}
.const_mgt .result_list .result > li:not(:last-child) {
  border-bottom: 1px solid #d0d1d2;
}
.const_mgt .result_list .result > li {
  font-size: 14px;
  color: #555;
  background: #fff;
}
.const_mgt .result_list .result > li:hover {
  background: #f7f9fd;
  cursor: pointer;
}
.const_mgt .search_result .result_item {
  display: flex;
  align-items: center;
}
.const_mgt .search_result .result_item li label {
  position: absolute;
  top: 0;
}
.const_mgt .search_result .checking {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #eaeaea;
}
.const_mgt .search_result .checking.active {
  background-color: #5479f7;
  background-image: url(../images/icon/search_check.png);
  border: none;
}
.const_mgt .search_result .result_bottom {
  position: relative;
  margin-top: 32px;
}
/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 2px;
  transition: background .1s;
}
.pagination li:hover {
  cursor: pointer;
}
.pagination li.move {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #dedede;
}
.pagination li.move:hover {
  background-color: #f5f5f5;
}
.pagination li.move:first-child {
  background-image: url(../images/icon/paging_prev.png);
}
.pagination li:nth-child(7) {
  background-image: url(../images/icon/paging_next.png);
}
.pagination li.move:last-child {
  margin-left: 3px;
  background-image: url(../images/icon/paging_superNext.png);
}
.pagination li:nth-child(2) {
  margin-left: 18px;
}
.pagination li:nth-child(6) {
  margin-right: 18px;
}
.pagination li:nth-child(2),
.pagination li:nth-child(3),
.pagination li:nth-child(4),
.pagination li:nth-child(5) {
  margin-right: 3px;
}
.pagination li.page_item.active {
  color: #fff;
  background: #5479f7;
}
.const_mgt .search_result .exel {
  position: absolute;
  right: 0;
  width: 87px;
  height: 40px;
  background: #fff;
  border: 1px solid #c0c9cb;
  border-radius: 2px;
  transition: background .1s;
}
.const_mgt .search_result .exel:hover {
  background: #f5f5f5;
}
.const_mgt .search_result .exel img {
  margin-right: 8px;
}

.copyright {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 33px;
}


/* 로그인 페이지 */
.login_page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/login_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.login_page .header_pc {
  padding: 0 27px;
}
.login_page .header_m .logo_wrap {
  padding-left: 0;
}
.login_page .login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50.5208vw;
  height: 25.4167vw;
  box-shadow: 0px 0px 15px 0px rgba(35, 31, 32, 0.35);
}
.login_page .login_box .loginBox_title {
  width: 45%;
  padding: 2.5vw 1.9792vw 0;
  background: #fff;
}
.login_page .login_box .loginBox_title h2 {
  font-size: 3.8889vh;
  color: #192b80;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.07);
}
.login_page .login_box .loginBox_title p {
  font-size: 0.7292vw;
  color: #414141;
  margin-top: 1.4815vh;
}
.login_page .login_box .loginBox_title img {
  display: block;
  width: 12.0833vw;
  margin: 0 auto;
  margin-top: 3.125vw;
}
.login_page .login_box .loginBox_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  padding: 2.0833vw;
  background: rgb(57,120,252);
  background: linear-gradient(135deg, rgba(57,120,252,1) 0%, rgba(0,204,178,1) 75%);
}
.login_page .login_box .loginBox_main form,
.login_page .login_box .loginBox_main ul, 
.login_page .login_box .loginBox_main input {  
  width: 100%;
}
.login_page .login_box .loginBox_main ul {
  display: flex;
  flex-direction: column;
}
.login_page .login_box .loginBox_main > img {
  width: 3.9583vw;
}
.login_page .login_box .loginBox_main input {
  width: 100%;
  height: 3.125vw;
  font-size: 0.9375vw;
  border-radius: 3px;
}
.login_page .login_box .loginBox_main input::placeholder {
  color: #9c9c9c;
}
.login_page .login_box .loginBox_main li:first-child {
  margin-top: 0.9375vw;
  margin-bottom: 0.7813vw;
}
.login_page .login_box .loginBox_main li:last-child {
  margin-top: 0.9375vw;
}
.login_page .login_box .loginBox_main .login_subBtn {
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.login_page .login_box .loginBox_main .login_subBtn button {
  font-size: 0.8333vw;
  color: #fff;
  padding: 0;
  background: transparent;
}
.login_page .login_box .loginBox_main .login_subBtn img {
  width: 0.9896vw;
  margin-top: 3px;
  margin-right: 0.4167vw;
}
.login_page .login_box .loginBox_main .login_subBtn button:first-child {
  margin-right: 0.8333vw;
}
.login_page .login_box .loginBox_main .login_btn {
  width: 100%;
  height: 3.6458vw;
  font-size: 1.4583vw;
  color: #fff;
  margin-top: 2.8125vw;
  background: rgb(40,52,76);
  background: linear-gradient(0deg, rgba(40,52,76,1) 0%, rgba(71,81,102,1) 100%);
  border: 3px solid #28344c;
}

.login_page .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  color: #383838;
  text-align: center;
  margin: 0;
  padding-top: 3.7037vh;
  padding-bottom: 8.3333vh;
  background: #c0cadb;
}