@charset "UTF-8";

/* NanumGothic font embeding set -------------------------------------------------------------------------------- */
/* NanumGothic-Regular */
@font-face {
  font-family: "NanumGothicWeb";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NanumGothic/NanumGothic-Regular.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumGothic/NanumGothic-Regular.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NanumGothic/NanumGothic-Regular.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NanumGothic/NanumGothic-Regular.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumGothic/NanumGothic-Regular.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumGothic/NanumGothic-Regular.svg#svgFontName') format("svg");							*** Legacy iOS & old mobile Browser */
}
/* NanumGothic-Bold */
@font-face {
  font-family: "NanumGothicWeb";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/NanumGothic/NanumGothic-Bold.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumGothic/NanumGothic-Bold.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NanumGothic/NanumGothic-Bold.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NanumGothic/NanumGothic-Bold.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumGothic/NanumGothic-Bold.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumGothic/NanumGothic-Bold.svg#svgFontName') format("svg");								*** Legacy iOS & old mobile Browser */
}
/* NanumGothic-ExtraBold */
@font-face {
  font-family: "NanumGothicWeb";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/NanumGothic/NanumGothic-ExtraBold.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NanumGothic/NanumGothic-ExtraBold.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NanumGothic/NanumGothic-ExtraBold.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumGothic/NanumGothic-ExtraBold.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumGothic/NanumGothic-ExtraBold.svg#svgFontName') format("svg");							*** Legacy iOS & old mobile Browser */
}

/* NanumSquare font embeding set -------------------------------------------------------------------------------- */
/* NanumSquare-Light */
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/NanumSquare/NanumSquareL.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumSquare/NanumSquareL.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */
      /*,url('/fonts/NanumSquare/NanumSquareL.woff2') format("woff2")*/
      /* Modern Browsers */,
    url("/fonts/NanumSquare/NanumSquareL.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumSquare/NanumSquareL.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumSquare/NanumSquareL.svg#svgFontName') format("svg");									*** Legacy iOS & old mobile Browser */
}
/* NanumSquare-Regular */
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NanumSquare/NanumSquareR.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumSquare/NanumSquareR.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */
      /*,url('/fonts/NanumSquare/NanumSquareR.woff2') format("woff2")	*/
      /* Modern Browsers */,
    url("/fonts/NanumSquare/NanumSquareR.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumSquare/NanumSquareR.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumSquare/NanumSquareR.svg#svgFontName') format("svg");									*** Legacy iOS & old mobile Browser */
}
/* NanumSquare-Bold */
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/NanumSquare/NanumSquareB.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumSquare/NanumSquareB.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */
      /*,url('/fonts/NanumSquare/NanumSquareB.woff2') format("woff2")*/
      /* Modern Browsers */,
    url("/fonts/NanumSquare/NanumSquareB.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumSquare/NanumSquareB.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumSquare/NanumSquareB.svg#svgFontName') format("svg");									*** Legacy iOS & old mobile Browser */
}
/* NanumSquare-ExtraBold */
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/NanumSquare/NanumGothic-Bold.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NanumSquare/NanumSquareEB.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */
      /*,url('/fonts/NanumSquare/NanumSquareEB.woff2') format("woff2")*/
      /* Modern Browsers */,
    url("/fonts/NanumSquare/NanumSquareEB.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NanumSquare/NanumSquareEB.ttf") format("truetype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NanumSquare/NanumSquareEB.svg#svgFontName') format("svg");									*** Legacy iOS & old mobile Browser */
}

/* Spoqa Han Sans font embeding set -------------------------------------------------------------------------------- */
/* Spoqa Han Sans - Bold */
@font-face {
  font-family: "Spoqa Han Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Spoqa Han Sans/Spoqa Han Sans Bold.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Bold.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Bold.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Bold.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Bold.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Bold.svg#svgFontName")
      format("svg"); /* Legacy iOS & old mobile Browser */
}
/* Spoqa Han Sans - Regular */
@font-face {
  font-family: "Spoqa Han Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Spoqa Han Sans/Spoqa Han Sans Regular.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Regular.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Regular.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Regular.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Regular.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS & old mobile Browser */
}
/* Spoqa Han Sans - Light */
@font-face {
  font-family: "Spoqa Han Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Spoqa Han Sans/Spoqa Han Sans Light.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Light.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Light.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Light.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Light.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Light.svg#svgFontName")
      format("svg"); /* Legacy iOS & old mobile Browser */
}
/* Spoqa Han Sans - Thin */
@font-face {
  font-family: "Spoqa Han Sans";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Spoqa Han Sans/Spoqa Han Sans Thin.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Thin.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Thin.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Thin.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Thin.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/Spoqa Han Sans/Spoqa Han Sans Thin.svg#svgFontName")
      format("svg"); /* Legacy iOS & old mobile Browser */
}

/* Noto Sans CJK kr font embeding set ------------------------------------------------------------------------------ */
/* Thin(100)	|	Light(300)	|	Regular(400)	|	Medium(500)		|	Bold(700)	|	Black(900) */
/* Noto Sans CJK kr - Black */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.otf") format("opentype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.ttf') format("truetype")									*** Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Black.svg') format("svg")										*** Legacy iOS & old mobile Browser */
}
/* Noto Sans CJK kr - Bold */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.otf") format("opentype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.ttf') format("truetype")									*** Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.svg') format("svg")										*** Legacy iOS & old mobile Browser */
}
/* Noto Sans CJK kr - Medium */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.otf") format("opentype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.ttf') format("truetype")								*** Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.svg') format("svg")										*** Legacy iOS & old mobile Browser */
} /* Noto Sans CJK kr - Regular */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.otf") format("opentype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf') format("truetype")								*** Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.svg') format("svg")									*** Legacy iOS & old mobile Browser */
}
/* Noto Sans CJK kr - Light */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.otf") format("opentype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.ttf') format("truetype")									*** Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.svg') format("svg")										*** Legacy iOS & old mobile Browser */
}
/* Noto Sans CJK kr - Thin */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Light.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.otf") format("opentype"); /* Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.ttf') format("truetype")									*** Legacy Browsers // Android, iOS */
  /*		,url('/fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.svg') format("svg")										*** Legacy iOS & old mobile Browser */
}

/* Image font embeding set ----------------------------------------------------------------------------------------- */
/* Font Awesome v4.7.0 */
@font-face {
  font-family: "FontAwesome_v4";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/FontAwesome_v4/fontawesome-webfont.eot?v=4.7.0"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v4/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v4/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2") /* Modern Browsers */,
    url("/fonts/FontAwesome_v4/fontawesome-webfont.woff?v=4.7.0") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v4/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype") /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v4/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg"); /* Legacy iOS & old mobile Browser */
}
/* Font Awesome v5.2.0 */
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/FontAwesome_v5.2.0/fa-brands-400.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v5.2.0/fa-brands-400.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v5.2.0/fa-brands-400.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/FontAwesome_v5.2.0/fa-brands-400.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v5.2.0/fa-brands-400.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v5.2.0/fa-brands-400.svg#fontawesome") format("svg"); /* Legacy iOS & old mobile Browser */
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
@font-face {
  font-family: "Font Awesome 5_2_0 Free";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FontAwesome_v5.2.0/fa-regular-400.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v5.2.0/fa-regular-400.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v5.2.0/fa-regular-400.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/FontAwesome_v5.2.0/fa-regular-400.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v5.2.0/fa-regular-400.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v5.2.0/fa-regular-400.svg#fontawesome")
      format("svg"); /* Legacy iOS & old mobile Browser */
}
.far {
  font-family: "Font Awesome 5_2_0  Free";
  font-weight: 400;
}
@font-face {
  font-family: "Font Awesome 5_2_0  Free";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/FontAwesome_v5.2.0/fa-solid-900.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v5.2.0/fa-solid-900.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v5.2.0/fa-solid-900.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/FontAwesome_v5.2.0/fa-solid-900.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v5.2.0/fa-solid-900.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v5.2.0/fa-solid-900.svg#fontawesome") format("svg"); /* Legacy iOS & old mobile Browser */
}
/* 일반폰트와 함께 적용되는 문제로 인하여 common.css에서 폰트 두께값 재정의 // 2018-08-10 
.fa, .fas{font-family: 'Font Awesome 5_2_0  Free'; font-weight: 900;}
*/
/* Font Awesome v5.8.2 */
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/FontAwesome_v5.8.2/fa-brands-400.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v5.8.2/fa-brands-400.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v5.8.2/fa-brands-400.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/FontAwesome_v5.8.2/fa-brands-400.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v5.8.2/fa-brands-400.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v5.8.2/fa-brands-400.svg#fontawesome") format("svg"); /* Legacy iOS & old mobile Browser */
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FontAwesome_v5.8.2/fa-regular-400.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v5.8.2/fa-regular-400.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v5.8.2/fa-regular-400.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/FontAwesome_v5.8.2/fa-regular-400.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v5.8.2/fa-regular-400.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v5.8.2/fa-regular-400.svg#fontawesome")
      format("svg"); /* Legacy iOS & old mobile Browser */
}
.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/FontAwesome_v5.8.2/fa-solid-900.eot"); /* IE compatibility mode */
  src: local("☺"),
    url("/fonts/FontAwesome_v5.8.2/fa-solid-900.eot?#iefix")
      format("embedded-opentype") /* IE6-IE8 */,
    url("/fonts/FontAwesome_v5.8.2/fa-solid-900.woff2") format("woff2")
      /* Modern Browsers */,
    url("/fonts/FontAwesome_v5.8.2/fa-solid-900.woff") format("woff")
      /* Most Browsers */,
    url("/fonts/FontAwesome_v5.8.2/fa-solid-900.ttf") format("truetype")
      /* Legacy Browsers // Android, iOS */,
    url("/fonts/FontAwesome_v5.8.2/fa-solid-900.svg#fontawesome") format("svg"); /* Legacy iOS & old mobile Browser */
}
/* 일반폰트와 함께 적용되는 문제로 인하여 common.css에서 폰트 두께값 재정의 // 2018-08-10
.fa, .fas{font-family: 'Font Awesome 5 Free'; font-weight: 900;}
*/
